/**
 * This Joomla plugin 'ResponsiveMedia' by Geoffrey Hayward - http://geoffhayward.eu 
 * helps add rich embedded third-party media into Joomla articles. All media that is 
 * added through this plugin is ready for the responsive web.
 * 
 * The CSS and HTML are based on research and work by Theirry Koblentz,  * Anders 
 * Andersen and Niklaus Gerber. Their work was kindly documented by Jeff Hobbs 
 * at http://embedresponsively.com/.
 * 
 */

/* Resposive Instagram */
.youtube-container{ 
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden; 
    width: 100% 
} 
.youtube-container iframe, 
.youtube-container object, 
.youtube-container embed{ 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/* Resposive Vimeo */
.vimeo-container{ 
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; 
    width: 100% 
} 
.vimeo-container iframe, 
.vimeo-container object, 
.vimeo-container embed{
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/* Resposive Instagram */
.instagram-container {
    position: relative; 
    padding-bottom: 120%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
} 
.instagram-container iframe, 
.instagram-container object, 
.instagram-container embed { 
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; 
    height: 100%; 
}

/* author credit */
.responsive-media-credit p{
    text-align: right;
    font-style: italic;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}